@page "/counter"

<h1>algo</h1>

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <input  type="file"/>
            <ul>
                <li>File name</li>
                <li>File name</li>
            </ul>
        </div>
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
